<div class="mb-3">
  <input
    [(ngModel)]="personnePrenom"
    class="form-control"
    aria-label="Prénom"
    placeholder="Prénom"
    (keyup.enter)="ajouterPersonne()"
  />
</div>
<div class="mb-3">
  <input
    [(ngModel)]="personneNom"
    class="form-control"
    aria-label="prenom"
    placeholder="Nom"
    (keyup.enter)="ajouterPersonne()"
  />
</div>
<div class="mb-3">
  <select
    [(ngModel)]="equipeSelected"
    aria-label="Equipe"
    class="form-select"
  >
    <option value="-1">Pas d'équipe</option>
    <option *ngFor="let equipe of entreprise.equipes" [value]="equipe.id">
      {{equipe.nom}}
    </option>
  </select>
</div>
<button
  class="btn btn-success btn-lg col-12"
  (click)="ajouterPersonne()">
  <i class="fa fa-plus"></i>
</button>
