<div class="bg-gris p-4">
  <div class="row">
    <div class="col-4">
      <input
        [(ngModel)]="teamName"
        aria-label="Equipe"
        class="form-control"
        placeholder="Equipe"
        (keydown.enter)="onCreateTeam()"
      />
    </div>
    <div class="col-1">
      <button class="btn btn-success" (click)="onCreateTeam()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<div *ngFor="let team of teamList">
    <app-team
      [team]="team"
      (delete)="onDeleteTeam($event)"
    ></app-team>
</div>
