
<div class="container pt-4" id="team">
  <div class="row">
    <div class="col-md-8">
      <app-team-list></app-team-list>
    </div>
  <div class="col-md-4">
    <div class="bg-gris p-4">
      <app-create-member></app-create-member>
    </div>
    <!-- divUser -->

    <div class="mt-3 pt-2" *ngIf="memberList.length >0">
      <app-member-list
        [memberList]="memberList"
        (deleteMember)="onDeleteMember($event)"
      ></app-member-list>
    </div>
  </div>
  <!-- col4 -->
</div>
<!-- row -->
</div>

