
<div class="container pt-4" id="team">
  <div class="row">
    <div class="col-md-8">
      <app-equipes [entreprise]="entreprise"></app-equipes>
    </div>
  <div class="col-md-4">
    <div class="bg-gris p-4">
      <app-create-personne
        [entreprise]="entreprise"
      ></app-create-personne>
    </div>
    <!-- divUser -->

    <div class="mt-3 pt-2" *ngIf="entreprise.personnes.length >0">
      <app-personnes
        [personneList]="entreprise.personnes"
        (supprimerPersonne)="enleverPersonne($event)"
      ></app-personnes>
    </div>
  </div>
  <!-- col4 -->
</div>
<!-- row -->
</div>

