<table
  class="table table-striped mt-4"
>
  <thead>
    <tr *ngIf="memberList.length > 0">
      <th>Prénom</th>
      <th>Nom</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of memberList">
      <td>{{member.name}}</td>
      <td>{{member.surname}}</td>
      <td>
        <button
          (click)="deleteMember.emit(member.id)"
          class="btn btn-danger"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
